.button {
  padding: 12px 16px;
  font-size: 16px;
  line-height: 24px;
}

.button:hover {
  cursor: pointer;
}

.button--primary {
  background-color: #a27b5c;
  color: #ffffff;
  border: none;
  transition-duration: 1s;
}

.button--primary:hover {
  background-color: #6c523d;
}

.button--primary:active {
  background-color: #36291f;
}
