*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
}

ul li {
  list-style: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
